---
import "@app/styles/global.css";
---

<section
    id="about"
    class="container mx-auto grid text-center gap-4 md:grid-cols-[33%_1fr]"
>
    <article class="flex flex-col text-start text-zinc-600">
        <div
            class="max-h-10/12 bg-emerald-50/70 rounded-2xl flex items-center p-6 md:p-8 lg:py-12 overflow-hidden h-full"
        >
            <img
                class="translate-y-1/4"
                loading="lazy"
                src="/skyhr.webp"
                alt=""
            />
        </div>

        <p class="text-zinc-500 mt-4">Skyhr</p>
        <h3 class="font-semibold">Sistema de control de asistencias.</h3>
    </article>

    <article class="flex flex-col text-start text-zinc-600">
        <div class="overflow-hidden bg-emerald-50/70 rounded-2xl p-6 md:p-8 lg:py-12 h-full max-h-10/12 flex items-center justify-center">
            <img class="translate-y-3/8 translate-x-1/6" loading="lazy" src="/ima-cloud.webp" alt="" />
        </div>

        <p class="text-zinc-500 mt-4">IMA Cloud</p>
        <h3 class="font-semibold">Automatizacion y gestion de formas.</h3>
    </article>
</section>
