---
import "../../styles/global.css";
---

<section id="about" class="container mx-auto text-center p-4 mt-32">
    <div class="bg-gray-50 rounded-2xl p-8 py-12">
        <div class="font-normal">
            <h3
                class="font-[ibm-plex-serif] text-xl font-bold italic text-emerald-900"
            >
                Nosotros:
            </h3>
            <p class="text-3xl">
                Ayudamos a empresas a migrar al
                <span
                    class="font-[ibm-plex-serif] italic font-semibold text-zinc-700"
                    >mundo digital
                </span>
            </p>
        </div>

        <div class="">
            <h3 class="mt-8 italic text-emerald-900 mb-2">¿Como?</h3>
            <p>
                Creamos herramientas y productos digitales que impulsen la
                presencia y capacidad de venta online de empresas mexicanas.
            </p>
        </div>
    </div>
</section>